* {
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
	word-wrap: break-word;
}
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var, u,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	border: 0;
	font-size: 100%;
	font: inherit;
	margin: 0;
	padding: 0;
	vertical-align: baseline;
}
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
html {
	height: 100%;
}
body {
	font-family: 'Open Sans', sans-serif;
	font-size: 10px;
	height: 100%;
	line-height: 1;
}
img {
	height: auto;
	max-width: 100%;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
/* Normalyze/Reset end */

/* 
	Text properties
		3pt = 4px 1em= 100% = 10px
	
	Color
		red = cc0000;
		grey = 9a9a9a;
*/
h1 {
	font-size:3.2em;
}
	h2 {
		font-size:2.4em;
	}
	h3 {
		font-size:1.8em;
	}
	h4 {
		font-size:1.6em;
	}
	h5 {
		font-size:1.3em;
	}
	h6 {
		font-size:1.1em;
	}
p,
span {
	color: #333;
	font-size: 1.4em;
	line-height: 125%;
}
li {
	font-size: 1em;
}
p {
	margin-bottom: 10px;
	margin-top: 5px;
}
a {
	font-size: 1em;
	text-decoration: none;
}
	a:hover {
		text-decoration: underline;
	}

.form-sing-up input,
.form-sing-up a {
	font-size: 1.4em;
	margin: 14px 3px;
	outline: none;
	padding: 5px 7px;
}
	.form-sing-up .submit,
	.form-sing-up a {
		background-color: #666;
		border-radius: 3px;
		border: none;
		color: #fff;
		cursor: pointer;
		font-family: 'Open Sans', sans-serif;
		outline: none;
		padding: 5px 15px;

		-moz-box-shadow: 0px 1px 6px 1px rgba(0,0,0,0.75);
		-webkit-box-shadow: 0px 1px 6px 1px rgba(0,0,0,0.75);
		box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
	}
		.form-sing-up .submit:hover, 
		.form-sing-up a:hover {
			background-color: #555;
			text-decoration: none;
		}
/* Text properties end */