/* Normalyze/Reset */
* {
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	border: 0;
	font-size: 100%;
	font: inherit;
	margin: 0;
	padding: 0;
	vertical-align: baseline;
}
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
html {
	height: 100%;
}
body {
	font-family: 'Open Sans', sans-serif;
	font-size: 10px;
	height: 100%;
	line-height: 1;
}
/* Normalyze/Reset end */

/* 
	Text properties
		3pt = 4px 1em= 100% = 10px
	
	Color
		red = cc0000;
		grey = 9a9a9a;
*/
h1 {
	font-size:3.2em;
}
	h2 {
		font-size:2.4em;
	}
	h3 {
		font-size:1.8em;
	}
	h4 {
		font-size:1.6em;
	}
	h5 {
		font-size:1.3em;
	}
	h6 {
		font-size:1.1em;
	}
p,
span {
	color: #333;
	font-size: 1.4em;
	line-height: 125%;
}
li{
	font-size: 1em;
}
p {
	margin-bottom: 10px;
	margin-top: 5px;
}
a {
	font-size: 1em;
	text-decoration: none;
}
	a:hover {
		text-decoration: underline;
	}
/* Text properties end */

img {
	height: auto;
	max-width: 100%;
}	

/* Global selectors */
.container:after,
.container:before,
.container-fluid:after,
.row:after,
nav:before,
.clr-fix:after {
	clear : both;
	content : "";
	display : block;
	height : 0;
	visibility : hidden;
}
.left {
	float: left !important;
}
.right {
	float: right !important;
}
/* Global selectors end */

/* Grid */
.container-fluid {
	box-sizing:border-box;
	display: block;
	height: 100%;
	height: auto !important;
	margin-left: auto;
	margin-right: auto;
	min-height: 100%;
}
.container {
	display: block;
	margin-left: auto;
	margin-right: auto;
	padding-left: 15px;
	padding-right: 15px;
}
	.row {
		margin-left: -15px;
		margin-right: -15px;
	}
	.container-fluid > .row {
		margin-left: 0px;
		margin-right: 0px;
	}
		.col-xs-1,
		.col-xs-2,
		.col-xs-3,
		.col-xs-4,
		.col-xs-5,
		.col-xs-6,
		.col-xs-7,
		.col-xs-8,
		.col-xs-9,
		.col-xs-10,
		.col-xs-11,
		.col-xs-12 {
			float: left;
			min-height: 1px;
			min-width: 200px;
			padding-left: 15px;
			padding-right: 15px;
			position: relative;
		}
		.col-xs-1	{  width: 8.33333333%;}
		.col-xs-2	{  width: 16.66666667%;}
		.col-xs-3	{  width: 25%;}
		.col-xs-4	{  width: 33.33333333%;}
		.col-xs-5	{  width: 41.66666667%;}
		.col-xs-6	{  width: 50%;}
		.col-xs-7	{  width: 58.33333333%;}
		.col-xs-8	{  width: 66.66666667%;}
		.col-xs-9	{  width: 75%;}
		.col-xs-10 { width: 83.33333333%;}
		.col-xs-11 { width: 91.66666667%;}
		.col-xs-12 { width: 100%;}
		.col-xs-offset-12 { margin-left: 100%;}
		.col-xs-offset-11 { margin-left: 91.66666667%;}
		.col-xs-offset-10 { margin-left: 83.33333333%;}
		.col-xs-offset-9 { 	margin-left: 75%;}
		.col-xs-offset-8 { 	margin-left: 66.66666667%;}
		.col-xs-offset-7 { 	margin-left: 58.33333333%;}
		.col-xs-offset-6 { 	margin-left: 50%;}
		.col-xs-offset-5 { 	margin-left: 41.66666667%;}
		.col-xs-offset-4 { 	margin-left: 33.33333333%;}
		.col-xs-offset-3 { 	margin-left: 25%;}
		.col-xs-offset-2 { 	margin-left: 16.66666667%;}
		.col-xs-offset-1 { 	margin-left: 8.33333333%;}
		
			.hidden {
				display: none !important;
			}

@media (min-width: 768px) {

	.container {
		width: 750px;
	}
	.hidden {
		display: block !important;
	}
}

@media (min-width: 992px) {

	.container {
		width: 970px;
	}
		.col-md-1,
		.col-md-2,
		.col-md-3,
		.col-md-4,
		.col-md-5,
		.col-md-6,
		.col-md-7,
		.col-md-8,
		.col-md-9,
		.col-md-10,
		.col-md-11,
		.col-md-12 {
			float: left;
			min-height: 1px;
			padding-left: 15px;
			padding-right: 15px;
			position: relative;
		}
		.col-md-1 {  width: 8.33333333%;}
		.col-md-2 {  width: 16.66666667%;}
		.col-md-3 {  width: 25%;}
		.col-md-4 {  width: 33.33333333%;}
		.col-md-5 {  width: 41.66666667%;}
		.col-md-6 {  width: 50%;}
		.col-md-7 {  width: 58.33333333%;}
		.col-md-8 {  width: 66.66666667%;}
		.col-md-9 {  width: 75%;}
		.col-md-10 { width: 83.33333333%;}
		.col-md-11 { width: 91.66666667%;}
		.col-md-12 { width: 100%;} 

		.hidden {
			display: block !important;
		}

}
@media (min-width: 1200px) {

	.container {
		width: 1170px;
	}
	.col-lg-1,
	.col-lg-2,
	.col-lg-3,
	.col-lg-4,
	.col-lg-5,
	.col-lg-6,
	.col-lg-7,
	.col-lg-8,
	.col-lg-9,
	.col-lg-10,
	.col-lg-11,
	.col-lg-12 {
		float: left;
		min-height: 1px;
		padding-left: 15px;
		padding-right: 15px;
		position: relative;
	}
	.col-lg-1 {  width: 8.33333333%;}
	.col-lg-2 {  width: 16.66666667%;}
	.col-lg-3 {  width: 25%;}
	.col-lg-4 {  width: 33.33333333%;}
	.col-lg-5 {  width: 41.66666667%;}
	.col-lg-6 {  width: 50%;}
	.col-lg-7 {  width: 58.33333333%;}
	.col-lg-8 {  width: 66.66666667%;}
	.col-lg-9 {  width: 75%;}
	.col-lg-10 { width: 83.33333333%;}
	.col-lg-11 { width: 91.66666667%;}
	.col-lg-12 { width: 100%;} 

	.hidden {
		display: block !important;
	}

}
/* Grid end */

/* Navigation */
.container > nav {
	margin-left: -15px;
	margin-right: -15px;
}
.container-fluid > nav {
	margin-left: 0;
	margin-right: 0;
}

nav {
	display: block;
	z-index: 400;
	-webkit-transform:translateZ(1px);
	-moz-transform:translateZ(1px);
	-o-transform:translateZ(1px);
	transform:translateZ(1px);
}
nav > ul.container {
	padding-left: 0;
	padding-right: 0;
}

nav.center > ul {
	text-align: center;
}
	.nav-h > ul {
		-moz-box-shadow: 0px 1px 6px 1px rgba(0,0,0,0.75);
		-webkit-box-shadow: 0px 1px 6px 1px rgba(0,0,0,0.75);
		background-color: #222;
		border-radius: 3px;
		box-shadow: 0px 1px 6px 1px rgba(0,0,0,0.75);
		display: block;
	}
	.nav-h li {
		display: inline-block;
	}
	.nav-h > ul > li > a {
		color: #9d9d9d;
		display: block;
		font-size: 1.7em;
		font-weight: 300;
		line-height: 48px;
		padding: 10px 15px;
		text-decoration: none;
		-webkit-transition: background 0.2s ease-in;
		-moz-transition: background 0.2s ease-in;
		-ms-transition: background 0.2s ease-in;
		-o-transition: background 0.2s ease-in;
		transition: background 0.2s ease-in;
	}
		.nav-h > ul > li > a:hover,
		.nav-h > ul > li > a:focus {
			color: #fff;
			text-decoration: underline;
		}

	.navbar-header {
		float: left;
		background-color: inherit;
	}
	.navbar-logo img {
		/*height: 80px;*/
		width: auto;
		float: right;
		margin-right: -15%;
	}

	#menu {
		left: -9999px;
		position: absolute;
		top: -9999px;
		display: none;
	}
	.nav-h label {
		color: #fff;
		cursor: pointer;
		display: none;
		height: 4.1em;
		left: 0;
		margin: 0;
		position: absolute;
		top: 0;
		user-select: none;
		width: 4em;
		text-align: left;
		color: #333;
		background-color: #fff;
		padding: 30px 14px;
		margin-top: -2px;
	}

@media screen and (max-width: 767px) {
	
	nav{
		background: #fff;
		border-bottom: 3px solid #280000;
	}
	.nav-h{
		box-shadow: none;
	}
	.navbar-header{
		float: right;
		background-color: #fff;
	}	
	.navbar-logo img{
		margin-right: 0;
	}
	.nav-h label {
		display: block;
	}
	.nav-h label:after {
		content: "МЕНЮ";
		font-size: 1em;
		position: absolute;
	}
		.nav-h label:hover,
		#menu:checked ~ label {
			color: #999;
		}
	#menu:checked ~ label:after{
		content: "Закрыть";
	}
	#menu:checked ~ label{
		position: absolute;
		width: 100%;
	}
	.nav-h ul{
		border-radius: 0;
		-moz-box-shadow: 0px 1px 6px 1px rgba(0,0,0,0.75);
		-webkit-box-shadow: 0px 1px 6px 1px rgba(0,0,0,0.75);
		box-shadow: 0px 1px 6px 1px rgba(0,0,0,0.75);
		display: block;
		left: -50em;
		max-width: 500px;
		min-width: 270px;
		opacity: 0;
		position: absolute;
		top: 8em;
		transition: .3s linear;
		width: 80%;
		background-color: #fff;
		z-index: 400;
	}
	.nav-h ul > li {
		width: 100%;
	}
	#menu:checked ~ ul {
		left: -10px;
		opacity: 1;
		text-align: left;
	}

}

.nav-v > ul {
	background-color: #222;
	display: block;
	width: 100%;
}
.nav-v > ul > li {
	display: block;
}
.nav-v > ul > li > a {
	color: #fff;
	display: block;
	font-size: 1.7em;
	font-weight: 300;
	line-height: 48px; 
	padding: 10px 15px;
	text-decoration: none;
}
	.nav-v > ul > li > a:hover,
	.nav-v > ul > li > a:focus {
		color: #fff;
		text-decoration: underline;
	}	

.nav-f {
	left: 0; 
	position: fixed;
	right: 0;
	top: 0;
}
/* Navigation end */

/* Footer */
footer {
	background: #222;
	margin: 0 auto;
}
	#logo_limiard {
		color: #fff;
		display: block;
		float: right;
		margin-top: 15px;
		padding-left: 0;
		padding-top: 55px;
		position: relative;
		width: 270px;
	}
		#logo_limiard p {
			color: #fff;
			display: block;
			margin: 0;
			padding: 0;
		}
			#logo_limiard a {
				color: #fff;
				text-decoration: none;
			}
				#logo_limiard a:hover {
					text-decoration: underline;
				}
				#logo_limiard img {
					border-radius: 3px;
					box-shadow: 0px 0px 3px 1px rgba(0,0,0,0.5);
					height: auto;
					left: 63px;
					position: absolute;
					top:0;
					width: 112px;
				}
	.soc-icon {
		display: block;
		float: left;
		margin-top: 40px;
	}
		.soc-icon img {
			width: 30px;
		}
/* Footer end */

/* Settings */
		.full {
			background-color: #fff;
			/*footer height+margin*/
			padding-bottom: 100px;
		}
		footer {
			height: 100px;
			margin-top: -100px;
		}

.nav-f > ul > li > a {
	line-height: 20px;
}
.con-aft-fix-nav {
	/*line-height+font-size(20px) ++ margin*/
	margin-top: 40px;
}
/* Settings end */